@page
@using CocktailApp.Model
@model CocktailApp.Categories.IndexModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@foreach (var item in Model.AllCakes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
        </tr>
}
    </tbody>
</table>