html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.card {
  margin-bottom: 1em;
}

.recipe-cards {
  text-decoration: none;
  color: black;
}

.recipe-cards:hover {
  color: black;
  border: 1px solid cornflowerblue;
}

.directions {
  list-style: decimal inside;
}

.direction {
  display: list-item;
}

#discoverMenu .form-control {
  width: 63vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#discoverMenu #searchBtn {
  border-radius: 0;
}

#discoverMenu button {
  width: 2vw;
}